[2015-01-08 01:36] stephendonner opened #738 "Investigate/fix mobile's test_sort_by_region test (reliability/speed)"
The runtime of amo.prod.mobile.saucelabs varied widely, in no small part due to:

test_sort_by_region, from here:

https://github.com/mozilla/Addon-Tests/blob/master/tests/mobile/test_extensions.py#L17

Stack: self = <tests.mobile.test_extensions.TestExtensions instance at 0x1048f8320>
mozwebqa = <pytest_mozwebqa.pytest_mozwebqa.TestSetup instance at 0x1036bbcf8>

    @pytest.mark.nondestructive

[2015-01-08 01:39] stephendonner commented on #738
Even when it "passes" (after many reruns from our plugin), the runtimes themselves widely vary, as such:

http://selenium.qa.mtv2.mozilla.com:8080/view/AMO/job/amo.prod.mobile.saucelabs/buildTimeTrend

Questions:
* is this us?
* is this Sauce Labs?
* or a confluence of both?

<img src="http://imgur.com/HZHBbJX"></img>

[2015-01-09 02:04] stephendonner commented on #738
@bobsilverberg can you take a look at this when you get a chance?  Thx!

[2015-01-09 19:08] bobsilverberg commented on #738
Sure, @stephendonner, I will put it on my ToDo list. I'm trying to get through PR reviews today so it may not be until next week.

[2015-01-09 20:25] bobsilverberg commented on #738
I took a look at the test results and there's a pretty obvious correlation between the run times and whether tests are being rerun. That is, when there are no reruns then the jobs finish in around 1 minute. The jobs that completed in 4-15 minutes all had some reruns. Some had one test rerun, some had a number.

The ones that failed with a timeout, usually after 22 minutes, all include a failure of

[2015-01-09 22:54] stephendonner opened #739 "Add coverage for the URLs under "Other Applications," to catch bug 1119968"
Neither http://selenium.qa.mtv2.mozilla.com:8080/job/amo.dev.mobile.saucelabs/ nor http://selenium.qa.mtv2.mozilla.com:8080/view/AMO/job/amo.dev.saucelabs/ caught https://bugzilla.mozilla.org/show_bug.cgi?id=1119968

Let's get basic coverage of the static URLs under "Other Applications," in the header nav.

[2015-01-12 10:44] AndreiH commented on #738
I run the test locally and it failed for me 9/10 times. The reason those builds take that much longer is because it took <code>test_sort_by_region</code> like 3 minutes before it failed when I tested this.
It makes sense with all those reruns.
I could reproduce this easily when running that test on Sauce. The test just needed a fix with scroll into view (see PR https://github.com/mozilla/Addon-Tes

[2015-01-12 11:59] AndreiH opened #741 "Investigate and fix test_that_complete_themes_can_be_sorted_by_popularity"
This started to fail quite often on dev

http://selenium.qa.mtv2.mozilla.com:8080/view/AMO/job/amo.dev/1817/testReport/junit/tests.desktop.test_complete_themes/TestCompleteThemes/test_that_complete_themes_can_be_sorted_by_popularity/

[2015-01-13 14:29] AndreiH commented on #741
This is failing very strangely and only on AMO.dev in-house.
I investigated this and I cannot find the cause of this failure for now. Also could not reproduce this locally.
Assert is failing with message : "AssertionError: 272 is not before 2456"

See HTML report: http://selenium.qa.mtv2.mozilla.com:8080/view/AMO/job/amo.dev/1823/HTML_Report/

[2015-01-13 14:38] bobsilverberg commented on #738
It looks like this has been addressed via PR #740. The test is passing well now, and quickly. I am submitted a few runs of the job so we can see if it is consistently fast.

http://selenium.qa.mtv2.mozilla.com:8080/view/AMO/job/amo.dev.mobile.saucelabs/buildTimeTrend

[2015-01-13 14:38] bobsilverberg commented on #738
@stephendonner I will leave this to you to close when you are confident that the issue has been addressed.

[2015-01-13 15:07] AndreiH opened #742 "Switch AMO Mobile tests to run with Appium as well"
As we switched Marketplace Mobile tests to run with Appium because we had some Persona issues with Webdriver, for consistency we can switch AMO tests to run also with appium.

Here is  an adhoc job that runs with Appium on Sauce.
http://selenium.qa.mtv2.mozilla.com:8080/view/AMO/job/amo.prod.mobile.saucelabs.andreih/17/HTML_Report/

@bobsilverberg brought this on IRC and I think this is a great id

[2015-01-13 15:08] AndreiH commented on #742
@stephendonner what do you think?

[2015-01-14 10:19] stephendonner commented on #739
@AndreiH or @bobsilverberg can either/both of you take a look/patch/review/merge? :-)  Thanks!

[2015-01-14 10:26] AndreiH commented on #739
On it! :)

[2015-01-14 12:18] AndreiH commented on #739
I didn't find this option on Mobile thought, so I added coverage for Desktop

[2015-01-16 09:34] AndreiH commented on #742
AMO mobile tests now run with appium

[2015-01-16 09:34] #742 closed

[2015-01-16 09:35] AndreiH commented on #738
This was fixed. Closing this. Thanks!

[2015-01-16 09:35] #738 closed

[2015-01-16 09:41] #739 closed

[2015-01-16 09:41] viorelaioia commented on #739
PR was merged.

[2015-02-13 23:30] stephendonner opened #745 "On prod, test_that_carousel_works fails, and should probably use --apibaseurl, rather than --baseurl"
xref: https://bugzilla.mozilla.org/show_bug.cgi?id=1128975
![screenshot from 2015-02-03 17_28_35](https://cloud.githubusercontent.com/assets/387249/6197106/2b0b593c-b395-11e4-9bb5-cd036d47399d.png)

In the Discovery Pane tests on prod, we just make the assumption to use the baseurl, rather than the apibaseurl which we pass in to the test-runs via the command-line.

test_that_carousel_works fails o

[2015-02-14 22:24] justinpotts commented on #745
@stephendonner, It looks like running the test with the apibaseurl isn't working either. Am I missing something?

Returns:

INTERNALERROR> AssertionError: Base URL did not return status code 200 or 401. (URL: https://services.addons.mozilla.org, Response: 403)

[2015-02-17 17:42] m8ttyB commented on #745
@stephendonner is it expected that https://services.addons.mozilla.org/ returns a 403?

[2015-02-17 17:48] m8ttyB commented on #745
Just to be clear -- the expected GET would be https://services.addons.mozilla.org/en-US/firefox/discovery/pane/34.0.5/Darwin

[2015-02-17 18:07] m8ttyB commented on #745
It appears that the API tests use `base_url` -- https://github.com/mozilla/Addon-Tests/blob/master/pages/desktop/addons_api.py#L22. I also don't see a `--apibaseurl` option in https://github.com/davehunt/pytest-mozwebqa/blob/master/pytest_mozwebqa/pytest_mozwebqa.py

I'll look through the Jenkins job to see if there is an example where https://services.addons.mozilla.org/ is used.

[2015-02-17 19:17] m8ttyB commented on #745
Thanks @davehunt for pointing out https://github.com/mozilla/Addon-Tests/blob/master/conftest.py#L14 .. learn something new everyday :-)

[2015-02-18 18:06] stephendonner commented on #745
The Add-ons Manager uses the services.addons.mozilla.org URL for security + other (perf, likely) reasons, rather than addons.mozilla.org.  @oremj + @jasonthomas - can you clarify, elaborate, when you get a chance?  Thanks!

[2015-02-19 13:48] flik opened #748 "getting error"
I was testing this command and getting error
py.test --driver=firefox --credentials=./credentials.yaml

error:
py.test: error: no such option: --driver

[2015-02-19 15:16] m8ttyB commented on #748
Hi @flik -- did you install the libraries in the `requirements.txt` file? https://github.com/mozilla/Addon-Tests/blob/master/requirements.txt

Try running or re-running `pip install -U -r requirements.txt`. The option `--driver` becomes available once the `pytest-mozwebqa` library is installed.

[2015-02-20 05:24] flik commented on #748
yes. I have installed again and here are results:

gith@witz:~/Addon-Tests$ sudo pip install -U -r requirements.txt
[sudo] password for gith:
Requirement already up-to-date: PyYAML==3.10 in /usr/local/lib/python2.7/dist-packages (from -r requirements.txt (line 3))
Requirement already up-to-date: UnittestZero in /usr/local/lib/python2.7/dist-packages (from -r requirements.txt (line 4))
Requirement

[2015-02-20 15:24] m8ttyB commented on #748
Very strange -- what output is returned when you run `pip freeze` from your development env?

[2015-02-24 20:33] m8ttyB commented on #748
@flik -- if you're still experiencing problems, please join us in irc, #mozwebqa and we'll try to work through the problem in real-time and help get your development env working

[2015-02-24 20:33] #748 closed

[2015-02-24 20:35] m8ttyB commented on #745
This was resolved by #747  -- closing.

[2015-02-24 20:35] #745 closed

[2015-02-24 20:43] m8ttyB opened #755 "Remove xfail - Relax the search filters for theme search to allow more results"
The version of Firefox that tests are run against sometimes have small subsets of search results that can produce false positives. This can be due to our test automation infrastructure using older versions of Firefox.

* Remove the xfail on `test_searching_for_addon_type_returns_results_of_correct_type()`.
* Update the appropriate Page Object with these filter options and have the test use them.
*

[2015-02-24 22:32] m8ttyB commented on #755
Just wanted to capture notes from our irc discussion. `class FilterBase` appears to be the right entry point for which POM to update.

https://github.com/mozilla/Addon-Tests/blob/master/pages/desktop/regions/search_filter.py#L12

[2015-02-25 18:30] m8ttyB commented on #741
Looking at the screenshot I don't immediately understand why the test is comparing the value of the download rate for the last item on the page [the lowest download rate - `272`] against the first theme [highest download rate - `2456`].

Let the dig begin :)

![screenshot](https://cloud.githubusercontent.com/assets/63193/6377506/b50a250a-bce1-11e4-85aa-4e7ef50d9b61.png)

[2015-03-02 17:11] m8ttyB commented on #755
@justinpotts do you have an eta for when you'll be able to work on this? Let me know if you need to put this task back into the pool for others to work on.

I'd like to see this resolved by the end of this week, Friday.

[2015-03-02 18:23] justinpotts commented on #755
I'll go ahead and give it up.

On Monday, March 2, 2015, Matt Brandt <notifications@github.com> wrote:

[2015-03-02 18:25] m8ttyB commented on #755
Cool beans .. thanks and no worries @justinpotts. /me throws this back into the issue pool https://d324imu86q1bqn.cloudfront.net/uploads/asset/attachment/2110801/ello-398d6e1e-cb10-4c62-a645-0fda59cbca4a.gif

[2015-03-03 20:57] stephendonner opened #756 "Fix review test to set the timezone to US/Pacific (to match AMO server/Selenium Grid/Sauce Labs' local timezone)"
Our review tests occasionally fail because of (as of yet) untracked system/application under test date-time mismatches.

To mitigate those, we should set the time to US/Pacific (to match all our infrastructure and hosted application under test), in https://github.com/mozilla/Addon-Tests/blob/master/tests/desktop/test_reviews.py#L76:

12:52:25 PM <davehunt> depend on pytz package, then use:
12:52:3

[2015-03-03 20:57] stephendonner commented on #756
https://webqa-ci.mozilla.com/view/AMO/job/amo.stage.saucelabs/44/ is an example of a failing test

[2015-03-10 16:28] #756 closed

[2015-03-17 13:05] bobsilverberg commented on #755
I will take this.

[2015-03-17 13:06] bobsilverberg commented on #755
Actually, I just noticed that when I assigned myself, that unassigned @m8ttyB. Did you want to work on this Matt? If so I'll leave it for you.

[2015-03-17 14:37] m8ttyB commented on #755
I've got a pr that is close to done. Was waiting for a response to [Bug 1142302](https://bugzilla.mozilla.org/show_bug.cgi?id=1142302). I'll have a pr in today.

[2015-03-23 22:13] m8ttyB commented on #755
pr #758 was merged .. bumping this to closed.

[2015-03-23 22:13] #755 closed

[2015-04-13 14:56] davehunt opened #761 "Change Travis-CI integration to just flake8 checking"
We have decided to stop running our tests on Travis-CI at least in the short term, and to just use Travis-CI for basic code checking on our repositories.

In order to do this, we need to set up `.travis.yml` as follows:

[code]

We should also remove any dependencies in `requirements.txt` that are related to running tests on Travis-CI. In this case, removing the dependency on `pytest-xdist`.

[2015-04-17 07:59] bebef1987 commented on #761
I will work on this task :D

[2015-04-27 20:42] rbillings commented on #761
@bebef1987 what is the status of this?

[2015-04-28 08:12] davehunt opened #763 "Intermittent failure with test_that_checks_the_desktop_version_link loading the wrong page"
It appears that [test_that_checks_the_desktop_version_link](https://github.com/mozilla/Addon-Tests/blob/2bbc9c0598b1f3ed809457f6b5ecf58b08f245c7/tests/mobile/test_home.py#L25) sometimes fails because we end up on the 'most popular' addons page instead of the home page.

Before clicking the desktop link both a passing and failing test appear to be on the correct page of the mobile site:

![Mobile s

[2015-04-28 08:30] davehunt commented on #763
I have been able to replicate this on my Samsung Galaxy S2 using the default browser (which is what we're using via Sauce Labs). It appears that I'm unable to load the desktop home page in the default browser at all, as I keep getting redirected to the most popular page. I am unable to replicate this issue in Firefox on my device, so it may be invalid. @krupa what are your thoughts?

[2015-04-28 08:48] davehunt opened #764 "Intermittent failure with test_hide_email_checkbox_works failing to uncheck box"
The [test_hide_email_checkbox_works](https://github.com/mozilla/Addon-Tests/blob/2bbc9c0598b1f3ed809457f6b5ecf58b08f245c7/tests/desktop/test_users_account.py#L78) is failing intermittently because the hide e-mail checkbox is not being unchecked as expected.

The checkbox is shown checked in the following screenshot:
![Profile](https://assets.saucelabs.com/jobs/abd98bb40635418d9fc90366b4200bb2/0010

[2015-05-01 21:07] rbillings commented on #761
It looks like this was merged in https://github.com/mozilla/Addon-Tests/pull/762, closing.

[2015-05-01 21:07] #761 closed

[2015-05-04 21:07] bobsilverberg opened #766 "Add a setup.cfg file to configure the behaviour of flake8"
This is a simple task:

1. Add a new file to the repo called `setup.cfg`. The file should look just like the file found at https://github.com/mozilla/mcom-tests/blob/master/setup.cfg
2. Update the `.travis.yml` file so the `script:` line reads:
[code]

[2015-05-06 15:46] bobsilverberg commented on #766
Fixed via https://github.com/mozilla/Addon-Tests/commit/6ad8bf3e236ddf51446ff6f94cf63a91b05c270d

[2015-05-06 15:46] #766 closed

[2015-05-12 17:20] tarun1992 commented on #763
I would like to take the issue.

[2015-05-13 06:29] davehunt commented on #763
@tarun1992 this may be an a bug within the application under test as I'm able to replicate it manually. Let's see if we can find out from @krupa if we need to support the default browser on Android. For now, I'd suggest picking another issue.

[2015-05-14 04:09] tarun1992 commented on #763
I will pick another task @davehunt

[2015-05-18 14:21] davehunt opened #768 "Switch to using pytest-variables for credentials"
We should move the handling of credentials to pytest-variables. This means changing the example credentials.yml file to variables.json with suitable top level keys and migrating the tests to use the injected variables. We should also add pytest-variables as a dependency.

The variables file would probably look something like this:

[code]

An example of a migrated test would look something like th

[2015-05-22 00:02] krupa opened #769 "Update the test add-on used in https://github.com/mozilla/Addon-Tests/blob/master/tests/desktop/test_details_page.py#L128"
https://github.com/mozilla/Addon-Tests/blob/master/tests/desktop/test_details_page.py#L128 uses F1 by Mozilla Labs as the test add-on which was removed. We need to find a different test add-on

[2015-05-22 10:13] davehunt commented on #769
Maybe [Restartless Addon with EULA](https://addons.mozilla.org/en-US/firefox/addon/restartless-addon-with-eula/) or [MemChaser](https://addons.mozilla.org/en-US/firefox/addon/memchaser/)?

[2015-05-22 19:47] stephendonner commented on #769
Or https://addons.mozilla.org/en-US/firefox/addon/passwordprotect/ from @vaidik

[2015-05-22 20:47] krupa commented on #769
All these options are valid.

[2015-05-22 21:37] davehunt commented on #769
I think it may be better to use one we have direct control over, such as the Automation Development ones mentioned.

[2015-05-26 20:39] stephendonner commented on #769
The test is test_other_addons_label_when_there_is_only_one_author, and qa-auto has 4 add-ons, which is why I suggested @vaidik's, as he only has one :-)

[2015-05-26 20:53] davehunt commented on #769
The ones I linked only have one author. That author has multiple addons, but that shouldn't be an issue.

[2015-05-26 20:55] stephendonner commented on #769
/me facepalms - yes, thanks.  I should know to stay out of these!

[2015-05-26 21:26] davehunt commented on #769
Fixed by https://github.com/mozilla/Addon-Tests/commit/cedf348398f4cf92faaec58a1268fe24367a354d

[2015-05-26 21:26] #769 closed

[2015-05-27 14:31] m8ttyB opened #773 "test_could_install_theme is failing due to incorrectly chosen theme"
The test appears to be failing due to this version of Firefox not being supported by this theme. Suggested remedy, ensure the test correctly filters on only themes that are supported by the browser version running the test cases.

amo.stage.saucelabs - https://webqa-ci.mozilla.com/job/amo.stage.saucelabs/241/

    tests/desktop/test_installs.py:25: in test_could_install_theme
    Assert.true(compl

[2015-05-27 14:37] m8ttyB opened #774 "Investigate why test_that_all_reviews_hyperlink_works is failing"
Investigate why test_that_all_reviews_hyperlink_works is failing

amo.stage.saucelabs - https://webqa-ci.mozilla.com/job/amo.stage.saucelabs/241

    tests/desktop/test_reviews.py:26: in test_that_all_reviews_hyperlink_works
    Assert.equal(len(view_reviews.reviews), 20) .env/lib/python2.7/site-packages/unittestzero.py:55: in
    equal     assert first == second, msg E   AssertionError: None

![s

[2015-06-04 09:45] #768 closed

[2015-06-08 11:48] #774 closed

[2015-06-10 08:29] davehunt opened #776 "Switch to native asserts"
We have decided to move away from [unittest-zero](https://github.com/AutomatedTester/unittest-zero unittest-zero) and switch our assertions to be native asserts. This is [best practice for py.test](http://pytest.org/latest/assert.html#asserting-with-the-assert-statement) and generally provides better failure messages.

This involves removing the unittestzero dependency, and changing every use of i

[2015-06-17 19:13] bobsilverberg commented on #773
It turns out the problem is that the test is reporting the install button as not visible because there are two install buttons that match the css selector, and the first one is hidden. The first button is for the linux platform and the second one if for windows.  Here is a snippet of the html for the relevant buttons:

[code]

The challenge, looking at this, is that the only thing I can see that d

[2015-06-17 19:28] bobsilverberg commented on #773
Actually, I think I have a solution. It's not perfect, but I think it's acceptable. I will submit a PR for it.

[2015-06-18 09:25] davehunt commented on #773
Yes, we've seen this in the Mozmill tests in the past for installing addons. I believe we solved it in a similar way (return the first visible install button).

[2015-07-22 00:14] krupa opened #781 "Update test_that_searching_for_cool_returns_results_with_cool_in_their_name_description to account for tags"
test_that_searching_for_cool_returns_results_with_cool_in_their_name_description finds the add-on https://addons-dev.allizom.org/en-US/firefox/addon/smallringfx-darkblue/?src=search and fails because the search term "cool" is not in the description. However, the add-on is tagged with the keyword "cool" which is why the add-on is listed among the search results which is the correct behavior. Let us

[2015-07-23 11:09] davehunt commented on #781
@krupa can you clarify what you'd like this test to do? Currently it is searching for 'cool' and then checking that each result in the first page either has 'cool' in the name, or in the developer comments, or in the description. Are you saying you want to also check the keywords field? In my opinion these could be four separate tests, but that would likely require us to create addons with unique

[2015-07-23 16:52] krupa commented on #781
We can make them 4 separate tests with unique add-ons. Let me know if you need help creating the add-ons.

[2015-07-24 08:59] davehunt commented on #781
I've probably asked this before, apologies if so, but can we create these through the API? It would make the tests much more reliable. If we go ahead and create them manually, do we need to do it for all environments?

[2015-07-27 19:31] krupa commented on #781
There is no API we can do that currently. But, I can file an enhancement request to get it in place. Until that gets done, we should consider how we want to ensure coverage.

[2015-07-28 07:17] davehunt commented on #781
Thanks @krupa, let's update this issue with more information when we have it. If this test is failing often then a short term fix could be to assert that the word 'cool' is in the name, description, developer notes, or keywords.

[2015-07-30 14:36] bobsilverberg commented on #773
It looks like this was fixed via PR #780 https://github.com/bobsilverberg/Addon-Tests/commit/b0527bc73a557b3f0048dd00c8c96d1c3a4586bb

[2015-07-30 14:36] #773 closed

[2015-08-28 10:51] #776 closed

[2015-09-21 20:50] bobsilverberg opened #784 "Document how to populate a variables.json file for testing"
In the README we mention that a user will need to update the variables.json file with their credentials, but don't give specifics about what those credentials are or how to obtain ones to use. This issue is to remedy that.

[2015-09-23 18:59] krupa opened #787 "Update tests to accomodate for the locator change"
https://webqa-ci.mozilla.com/job/amo.dev/lastCompletedBuild/testReport/ is failing because of a locator change. We need to update the tests to see green again.

[2015-09-23 19:01] bobsilverberg commented on #787
Here's a better link to the failing report: https://webqa-ci.mozilla.com/view/Buildmaster/job/amo.dev/364/HTML_Report/.

The above link can become stale.

I am working on a PR for this.

[2015-09-24 12:03] #787 closed

[2015-09-30 00:48] stephendonner opened #789 "test_create_and_delete_collection is failing on addons-dev.allizom.org"
test_create_and_delete_collection [1] is failing in CI, for at least the Sauce Labs job:

https://webqa-ci.mozilla.com/job/amo.dev.saucelabs/503/

[1] https://github.com/mozilla/Addon-Tests/blob/master/tests/desktop/test_collections.py#L26

[2015-09-30 00:50] stephendonner commented on #789
@krupa do you know of any potential changes which might affect this on dev?

[2015-10-01 23:12] rbillings opened #790 "Fix test_reviews.TestReviews test_that_new_review_is_saved failure"
test_reviews.TestReviews test_that_new_review_is_saved began failing* after this commit:

https://github.com/mozilla/olympia/commit/a43d0c4c9431c8122a13c909ab512b6719d20496

*https://webqa-ci.mozilla.com/job/amo.dev.saucelabs/512/

Issue does not repro manually, and the id_body locator has not changed however re-running the build prompts further failures.

[2015-10-02 16:37] davehunt commented on #790
This appears to be a locator change caused by https://github.com/mozilla/olympia/pull/720. I'll submit a PR with a fix.

[2015-10-05 13:44] davehunt commented on #741
This is because the test is checking that we can sort by download rate. I'm going to close this as it hasn't had any activity since February, and we've since rewritten the assert. If this fails again we should at least have more information in the trace.

[2015-10-05 13:44] #741 closed

[2015-10-05 15:30] #790 closed

[2015-11-25 16:17] stephendonner opened #799 "Suggestion: rename repo name to be plural, "Addons-Tests""
This has always nagged at me, and it's not really all that important, but the name of this repo really should be "Addons-Tests" rather than "Addon-Tests"

If that has an impact on history/workflow, and/or is too disruptive, mark as invalid :-)

[2015-11-30 22:00] krupa opened #800 "AMO is switching to FxA; tests need to be updated"
AMO is switching to FxA; tests which require logging in need to be updated

Note that dev is already pointing to FxA.

[2015-11-30 22:22] bobsilverberg commented on #800
Great news, thanks @krupa!

Do we have a timeline as to when this is going to happen? On dev, stage and prod?

[2015-11-30 22:26] krupa commented on #800
It is already on dev.

Stage and prod probably won't happen until q1 of next year.

[2015-12-01 11:25] davehunt commented on #799
I would also like to make it lower case to match our other repositories, but I don't think it's worth the disruption. Also, I understand that in Q1 we'll be working on our automation for add-ons, which might include moving these tests into the same repository as the application code.

[2015-12-01 21:25] bobsilverberg commented on #800
As we already did this switch for Marketplace, I would suggest that whoever takes this task should check the code used there [1]. Specifically of interest are `conftest.py` [2] and `base.py` in `desktop/consumer_pages`.

We will also need to maintain the code for Persona login for stage and prod, but allow tests running on dev to use FxA.

[1] https://github.com/mozilla/marketplace-tests
[2] https

[2015-12-02 05:51] MonicaG commented on #800
I would like to try this, but I'm wondering what the timeline is like?  Do you need this in a matter of days? weeks?

I'm just poking around at the code trying to get a handle on what the code does and what changes are needed.

[2015-12-02 05:58] stephendonner commented on #800
Hi there, @MonicaG - and thanks, so much (!) for this (and other, pull[s]); the latest build status can always be seen on https://webqa-ci.mozilla.com/view/AMO/ - we welcome and encourage you (and others!) to help us keep these builds green and growing!  Thx in advance!

[2015-12-02 12:44] bobsilverberg commented on #800
@MonicaG Ideally it would be completed in days, rather than weeks, as this is causing a number of our tests to fail. If you think you'll have time to devote to it then we'd love to have you work on it, but if not then perhaps choose a lower priority issue.  Thanks for the interest!

[2015-12-02 15:43] MonicaG commented on #800
@bobsilverberg I'll look for a lower priority issue.  I don't think I'll have the time to get this done in the next few days.

[2015-12-10 20:31] krupa opened #801 "Test for signing API"
We now have signing API which developers can use to get their add-ons signed. We should test that an add-on can be signed using that API and then can be successfully installed using Firefox.

[2016-01-07 03:57] stephendonner opened #803 "Intermittent failure in test_searching_for_addon_type_returns_results_of_correct_type[Complete Themes-nasa-Complete Themes]"
We need to investigate why test_searching_for_addon_type_returns_results_of_correct_type[Complete Themes-nasa-Complete Themes] is an intermittent failure on both amo.stage.saucelabs and amo.prod.* (it's likely also failing on dev, but due to the restyling changes landed on master/dev in https://github.com/mozilla/olympia/pull/1078 it's hard to tell.

Some early investigation:
1. The URL we print o

[2016-01-07 04:02] stephendonner commented on #803
Attaching this annotated screenshot from the "inability to toggle" failure-case from 3), in case it's useful for filing a bug later.
<img width="1792" alt="screen shot 2016-01-06 at 7 31 17 pm" src="https://cloud.githubusercontent.com/assets/387249/12161941/7687b91a-b4b0-11e5-8108-005cf4dace92.png">

[2016-01-07 10:29] davehunt opened #804 "Remove shebangs from all Python files"
The following can be found in a large number of the Python files in this repository. As these files are not run independently this is entirely unnecessary, so we should clean them up and remove this line:

[code]

[2016-01-07 15:36] davehunt commented on #803
It looks like we're waiting for the update spinner to be hidden, but getting a stale element exception. It's quite possible that the element is removed from the DOM after being hidden, which could cause this intermittent. I'll work on a patch to make this more robust.

[2016-01-07 21:00] stephendonner commented on #803
The issue I noted in 3) has been logged by @davehunt as https://github.com/mozilla/olympia/issues/1247

[2016-01-08 08:55] davehunt opened #806 "Update mobile suite to work with latest stable version of Appium"
Our mobile suite is currently running with the following capabilities in Sauce Labs:

[code]

We should update the suite to work with the stable latest version of Appium, which may also mean updating the platform.

[2016-01-12 12:29] #804 closed

[2016-01-27 20:22] krupa opened #812 "Remove checks for 'Often Used With' section"
In https://github.com/mozilla/olympia/issues/1174 removed that section from add-ons details page. Let us remove the failing test  test_that_in_often_used_with_addons_are_displayed.

Thanks!

[2016-01-28 16:56] #812 closed

[2016-02-11 21:36] krupa opened #815 "Move Add-on Tests to the dev repo"
We want to be running our Selenium tests upon every PR. Towards that goal, let us move our existing tests to the dev repo.

[2016-02-16 17:52] krupa opened #817 "Update the URL for AMO disco pane tests"
Currently we are using https://addons.allizom.org/en-US/firefox/discovery/pane/47.0a1/Darwin/normal in our tests. We should be using https://addons-services.allizom.org/en-US/firefox/discovery/pane/47.0a1/Darwin/normal instead.

Thanks!

[2016-02-17 11:42] davehunt commented on #817
This is already configurable using the `--servicesbaseurl` command line option. Is anything else needed here? Is this something that's changed recently @krupa?

[2016-02-17 11:44] davehunt commented on #817
Also, is https://addons-services.allizom.org staging or dev? Is there both a staging and dev environment available for testing?

[2016-02-17 21:45] krupa commented on #817
Looks like the endpoint changed recently (and again)

New endpoint for dev is  https://services.addons-dev.allizom.org and stage will be updated after tomorrow's push

Sorry about the churn.

[2016-02-18 09:49] davehunt commented on #817
I've changed the dev jobs in Jenkins to include `--servicesbaseurl https://services.addons-dev.allizom.org`, which appears to have resolved the outstanding failures. I'll leave this open to remind us to update the staging jobs once we have a working URL.

[2016-02-22 20:04] krupa commented on #817
Stage has been updated and once we update that link all the related tests will start passing.

[2016-02-23 11:31] davehunt commented on #817
Thanks @krupa, this is now fixed!

[2016-02-23 11:31] #817 closed

[2016-02-24 21:34] krupa opened #820 "Test to submit a webextension on AMO"
## test webextensions:
https://github.com/mdn/webextensions-examples

## steps to reproduce:
1. Make sure your webextension has a unique id in the manifest.json
2. Load https://addons-dev.allizom.org/en-US/developers/addon/submit/2
3. Submit your test webextension
4. After validation, click Continue and complete submission

## expected behavior:
Submission is completed and the webextension has the

[2016-03-01 06:49] stephendonner opened #821 "test_that_new_review_is_saved fails on dev/stage due to timestamp difference"
This will soon hopefully "just go away," (in a couple hours?) but right now we've got failures in both amo.dev.saucelabs and amo.stage.saucelabs due to timestamp differences, which affects test_that_new_review_is_saved:

Staging: https://webqa-ci.mozilla.com/view/AMO/job/amo.stage.saucelabs/795/testReport/tests.desktop.test_reviews/TestReviews/test_that_new_review_is_saved/
Dev: https://webqa-ci.m

[2016-03-07 22:28] krupa commented on #800
@davehunt can we close this?

[2016-03-08 00:24] stephendonner commented on #821
This also happened on amo.dev (non Sauce Labs):

https://webqa-ci.mozilla.com/view/AMO/job/amo.dev/604/testReport/junit/tests.desktop.test_reviews/TestReviews/test_that_new_review_is_saved/

[2016-03-08 09:03] davehunt commented on #800
Yes, thanks @krupa!

[2016-03-08 09:03] #800 closed

[2016-03-10 16:39] stephendonner commented on #821
6:05 AM <jason> stephend|afk: all our services should be running on UTC
6:06 AM <jason> the error in https://webqa-ci.mozilla.com/view/AMO/job/amo.dev/604/testReport/junit/tests.desktop.test_reviews/TestReviews/test_that_new_review_is_saved/
6:06 AM <jason> E     - March 7, 2016 E     + March 8, 2016
6:06 AM <jason> makes me wonder if there is a time zone difference here
6:06 AM <jason> since the

[2016-03-10 16:55] stephendonner commented on #821
https://github.com/mozilla/Addon-Tests/blob/master/tests/desktop/test_reviews.py#L63 is currently:

 date = datetime.now(timezone('US/Pacific')).strftime("%B %d, %Y")

[2016-03-11 18:20] bebef1987 commented on #815
Do you want to fully move this to the dev repo or just add it as an submodule?

[2016-03-11 20:34] davehunt commented on #815
Unlikely to be a submodule, this is going to be discussed on dev-addons soon.

Cheers,
Dave Hunt

[2016-03-14 09:05] Edely commented on #820
Hi. I would like to work on this task.

[2016-03-14 14:57] davehunt commented on #784
This was done in https://github.com/mozilla/Addon-Tests/commit/143708cc73bc8b21a215666c3161438a2ab5b152.

[2016-03-14 14:57] #784 closed

[2016-03-14 15:31] davehunt commented on #820
That's great @Edely! You'll need to create an account on https://addons-dev.allizom.org/ and get API credentials from https://addons-dev.allizom.org/en-US/developers/addon/api/key/. Once you have these let me know what email address you used to sign up and I'll make sure your account has the permission to create users via the API. You'll then be able to write a test that uses the `logged_in` fixtu

[2016-03-15 11:42] davehunt commented on #815
I've kicked off a discussion about this:
https://mail.mozilla.org/pipermail/dev-addons/2016-March/000459.html

[2016-03-19 21:43] Edely commented on #820
Hi, I created an account on addons-dev.allizom.org, but I am having a little trouble to get the credentials api. When I accept the Firefox Add-on Distribution Agreement I keep reloading this same page of agreement. However I did the same procedure on addons.allizom.org and I got the credentials without problems.

[2016-03-21 15:12] Edely commented on #820
In fact, I could generate the credentials.

[2016-03-21 16:59] davehunt commented on #820
So are you unblocked and able to proceed?

[2016-03-21 17:56] Edely commented on #820
Yes.

[2016-03-21 18:11] davehunt commented on #820
That's great! Let me know what e-mail address you're using and I can make sure you're added to the [SuperCreate](https://addons-server.readthedocs.org/en/latest/topics/api/accounts.html#super-creation) so you can run the tests that involve logging in.

[2016-03-23 11:08] davehunt commented on #820
@Edely you now have SuperCreate permission.

[2016-03-23 23:20] Edely commented on #820
Thanks!

[2016-03-24 09:28] davehunt commented on #821
Taking this to restore coverage. Sorry @bebef1987

[2016-03-24 12:09] bebef1987 commented on #821
:(( sorry for taking that much time with this

[2016-03-24 15:38] #821 closed

[2016-04-01 08:37] Edely commented on #820
Hi, I having a little of trouble authenticating my user.

First I created a jwt-token as explained here: https://addons-server.readthedocs.org/en/latest/topics/api/auth.html

I used my JWT issuer and JWT secret to generate the token using Node.js. Ok.

The problem is when I make the requisition I keep receiving this message:

`{"detail": "Unknown JWT iss (issuer)"}`

What I am typing is:

[code]
I

[2016-04-01 09:35] davehunt commented on #820
These tests use pyjwt to [generate the token](https://github.com/mozilla/Addon-Tests/blob/016e4d39921abb8aa7062c0f233bdfee8d083f56/tests/conftest.py#L42-L49) are you able to take advantage of that existing code? I've not tried with node and curl, but it sounds like your token is missing the iss value?

[2016-04-01 09:35] davehunt commented on #820
I just noticed your curl command points to addons.mozilla.org (prod), but I suspect your API credentials are for addons-dev.allizom.org (dev) or addons.allizom.org (staging)?

[2016-04-11 18:55] Edely commented on #820
I decided to restart from beginning and now everything is working fine and I am able to run the tests with my API credentials. Thanks.

[2016-04-11 20:57] stephendonner opened #832 "Fix test_that_checks_amo_logo_text_layout_and_title test"
After the fix for the ALT text in https://github.com/mozilla/Addon-Tests/pull/831 , test_that_checks_amo_logo_text_layout_and_title is failing due to the following image-path changes:

`13:50:49 ________ TestAmoLayout.test_that_checks_amo_logo_text_layout_and_title _________
13:50:49 [gw10] linux2 -- Python 2.7.9 /var/lib/jenkins/jobs/amo.dev.saucelabs/workspace/.venv/bin/python2.7
13:50:49 tests/

[2016-04-12 10:24] davehunt commented on #832
Fixed by #833

[2016-04-12 10:24] #832 closed

[2016-04-13 18:40] krupa opened #836 "Bring back the test to check adding an extension to My Favorites"
In https://github.com/mozilla/Addon-Tests/pull/835, we removed the test to check if adding an extension to Favorites works.

This test needs to be brought back with the following updated steps:
1. Log in to AMO
2. Hover on the profile name; Click on My Favorites
3. Click on Edit Collection
4. In the Edit form, switch to Add-ons tab
5. Add an extension and save changes
6. Check that the add-on is n

[2016-04-13 18:42] stephendonner commented on #836
Heya @stupchiy - would you be up for taking this?  Thanks either way :-)

[2016-04-14 08:42] stupchiy commented on #836
Hey @stephendonner, sure.

One small questions @krupa :

The "My Favorites" link is appearing only after you have at least one add-on in that collection, is it supposed to be like that?

[2016-04-14 20:44] krupa commented on #836
Yes, that is correct.  I guess we can navigate directly to the Favorites collection page.

[2016-04-17 15:43] stupchiy commented on #836
Hey @stephendonner , @krupa, I've made a pull request #837, but it is currently failing, because of weird behavior when you add and save add-ons into your Favorites collection. Spent a lot of time on investigating, but haven't found any sequence. Like sometimes it does not appear in 'My Favorites' right away after save, only after some time and sometimes some old saved addons appear in the same li

[2016-04-18 23:44] krupa opened #841 "Fix test : test_navigation_buttons_for_image_viewer"
test_navigation_buttons_for_image_viewer  is currently failing due to a timeout.

_next_locator = (By.CSS_SELECTOR, 'section.previews div.carousel > a.next')
 _prev_locator = (By.CSS_SELECTOR, 'section.previews div.carousel > a.prev')
look valid to me. I'm unsure what is causing the Timeout.

[2016-04-18 23:48] krupa opened #842 "Fix test: test_navigating_to_other_addons"
test_navigating_to_other_addons has been failing for a while now. My guess is that the last add-on being a theme is causing the issue but I may be wrong.

[2016-04-18 23:49] krupa opened #843 "fix test: test_that_checks_the_up_and_coming_extensions_island"
test_that_checks_the_up_and_coming_extensions_island is failing because for some reason the test is loading the devhub landing page. My guess that we are not waiting sufficiently long enough for the page to load and the wrong element is being clicked.

[2016-04-18 23:51] krupa opened #844 "Fix test: TestReviews.test_that_new_review_is_saved"
TestReviews.test_that_new_review_is_saved has been failing for a while now and we need to look into making this test more robust.

[2016-04-19 13:51] davehunt commented on #843
It looks like the add-on islands have changed, and no longer have a pager. For some very strange reason the test is clicking the page footer before attempting to click the next page in the island (which would fail itself), and this is actually clicking the Developer Hub link in the footer. I'm going to clean up the test and the page object to remove the reference to pagination in the island.

[2016-04-19 17:15] davehunt commented on #842
You're right, it's because it's a Theme. I'm working on a fix.

[2016-04-19 17:24] #843 closed

[2016-04-19 17:25] davehunt commented on #841
I'm going to close this, but we can reopen if we see it again.

[2016-04-19 17:25] #841 closed

[2016-04-19 17:54] #842 closed

[2016-04-20 11:01] davehunt commented on #844
I believe this is a genuine issue. This test creates a new review and checks the rating, author, date, and text of the review. Before 143708cc73bc8b21a215666c3161438a2ab5b152 we used the same author for all reviews, but we had intermittent failures when the date mismatched. We concluded this was due to the timezone, but it may have been that the review was intermittently not being displayed. We no

[2016-04-20 11:02] davehunt commented on #844
I'm going to raise an issue and xfail this test, but we might need to modify it if the test is expecting the review to be displayed in an unreasonably short amount of time.

[2016-04-20 11:32] davehunt commented on #844
See #848 for xfail. I'm going to unassign myself from this now as we really need input on the associated addons-server issue before we can proceed.

[2016-04-20 21:52] stephendonner commented on #799
Yeah - given that we'll soon be moving this to https://github.com/mozilla/addons-server and that workflow (hopefully), I'm closing this out.  Not worth the effort in the interim, IMHO.

[2016-04-20 21:52] #799 closed

[2016-04-22 17:51] rbillings commented on #820
Are you still working on this @Edely ?

[2016-04-22 18:04] rbillings commented on #806
Stable release version numbers can be found here: https://github.com/appium/appium/releases

[2016-04-22 19:20] rbillings commented on #806
@davehunt - how would someone know if the platform needs to be updated, and to which version?

[2016-04-22 22:46] mindheist opened #849 "Installing Requirements fails on El Capitan due to Six"
[code]

[2016-04-22 23:05] mindheist commented on #849
this seems to be a bug in pip though ( https://github.com/pypa/pip/issues/3165 ) , and looks like apple is installing an older version of six by default . for now I m using

```  sudo pip install -Ur requirements.txt --ignore-installed six ```

Please LMK if this might lead to some other dependency issues.

[2016-04-23 11:33] Edely commented on #820
Yes, I am. Sorry for the delay. I am going to send the code soon.

[2016-04-25 09:22] davehunt commented on #806
We are not able to update to Android 5.1 due to https://github.com/appium/appium/issues/6330. I think we can close this, and track that issue instead.

[2016-04-25 09:22] #806 closed

[2016-04-25 09:27] davehunt commented on #849
Please try installing dependencies into a [virtual environment](https://virtualenv.pypa.io/en/latest/) rather than your default site packages. This will allow you to have only the versions required for the project and keeps your default site packages clean.

[2016-04-25 09:27] #849 closed

[2016-04-28 00:08] krupa opened #851 "Test to check for unlisted add-on submission"
## steps to reproduce:
1. Load https://addons-dev.allizom.org/en-US/developers/addon/submit/2
2. Select the checkbox -  Do not list my add-on on this site
3. Upload your add-on
4. After successful validation, click Continue
5. Complete the submission process
6. Download the signed copy of the add-on file
7. Check that the file is actually signed by checking for the META-INF folder when the file is

[2016-05-09 20:19] stephendonner commented on #801
http://addons-server.readthedocs.io/en/latest/topics/api/signing.html, I think?

[2016-05-09 23:49] krupa opened #853 "Intermittent failure: tests.desktop.test_paypal.TestPaypal.test_that_user_can_contribute_to_an_addon"
Looks like the test tests.desktop.test_paypal.TestPaypal.test_that_user_can_contribute_to_an_addon is flaky and particularly so on our saucelabs instance. It might be the particular window size saucelabs uses, but the test definitely needs an overhaul in terms of reliability.

[2016-05-10 06:20] stephendonner commented on #853
According to https://wiki.saucelabs.com/display/DOCS/Test+Configuration+Options#TestConfigurationOptions-SpecifyingtheScreenResolution "Default screen resolution for Sauce tests when not specified is 1024x768." which is the same resolution our own Windows 7 virtual machines are currently set to.

@stupchiy had a point - I wonder if part of this could be the higher concurrency in Sauce, hitting Pay

[2016-05-10 08:08] davehunt commented on #853
We don't hit any harder with Sauce Labs. The concurrency is the number of tests that run in parallel. There are no additional tests running that would cause any significant increased impact on Paypal.

[2016-05-10 08:18] stupchiy commented on #853
@davehunt what about jobs running in parallel - `amo.prod`, `amo.dev.saucelabs`, `amo.dev`, etc. ? Is that a case? I was pointing to the jenkins jobs specifically, since as @stephendonner mentioned paypal account for all of them the same.

[2016-05-10 08:29] davehunt commented on #853
That wouldn't make Sauce Labs any more likely to timeout than Grid though, as they're running at the same time. I wouldn't focus on why this is currently less stable on Sauce, as we have also seen these fail on Grid. We should focus on making the tests more stable, explicitly marking them as flaky with a maximum number of reruns, or deleting them if they're not essential.

[2016-05-10 16:13] davehunt commented on #820
Any updates on this @Edely or should we free this up for someone else to work on?

[2016-05-10 16:24] davehunt commented on #803
This has been passing for a while now. The test was refactored, and no longer fails due to mozilla/addons-server#1247. Let's remove the xfail. @stephendonner or @stupchiy want to take this?

[2016-05-10 16:25] stephendonner commented on #801
@stupchiy are you interested in this one?

[2016-05-10 16:28] stephendonner commented on #789
Looks stable to @davehunt and I: https://webqa-ci.mozilla.com/view/AMO/job/amo.dev.saucelabs/1002/testReport/tests.desktop.test_collections/TestCollections/test_create_and_delete_collection/history/

Closing this out.

[2016-05-10 16:28] #789 closed

[2016-05-10 16:39] davehunt commented on #781
We've decided this test is currently too vague, so let's remove it.

[2016-05-10 16:42] davehunt commented on #764
This feature was removed, and the test was removed in https://github.com/mozilla/Addon-Tests/commit/d7ffdb151e8ab2f1f7f79b3bc8ac88fee0e2ccc3

[2016-05-10 16:42] #764 closed

[2016-05-10 16:46] davehunt commented on #763
This has been passing for a while. Let's close and create a new issues if it comes back.

[2016-05-10 16:46] #763 closed

[2016-05-10 20:22] stupchiy commented on #801
yup @stephendonner ;-)

[2016-05-10 20:26] stupchiy commented on #801
@krupa is that should be API level tests only or also reflected somehow in UI?
And what credentials can I use ? @stephendonner can I use the same you gave me before for Addon-Tests?

[2016-05-10 20:30] davehunt commented on #803
Closed by #854

[2016-05-10 20:30] #803 closed

[2016-05-10 20:37] Edely commented on #820
It is a good idea to pass to someone else. I will not be able to work on this. Thank you for the patience, anyway.

[2016-05-10 20:41] davehunt commented on #820
No problem @Edely, if you change your mind just let us know. :)

[2016-05-10 21:05] stephendonner commented on #801
@stupchiy as long as they still work, sure :-)

[2016-05-12 09:43] davehunt commented on #844
This is now passing. @stupchiy mind removing the xfail for us?

[2016-05-13 08:11] #836 closed

[2016-05-23 20:05] stupchiy commented on #801
@krupa, @stephendonner need more info on that to continue.

- In the doc there are already v3 of API described, in Addon-Tests used 1.5, should it be switched to latest?
- Described Signin process, contains instructions to upload the addon. Is that could be done with already existing addon, or should we upload some "test-addon"?
- Could you also elaborate more on - test that signed addon "can be s

[2016-06-07 21:42] davehunt commented on #851
@krupa please check to see if the labels I've applied are appropriate

[2016-06-07 21:43] davehunt commented on #844
@justinpotts mind taking the removal of the xfail?

[2016-06-07 21:45] davehunt commented on #815
I've opened a pull request for the initial tests here: https://github.com/mozilla/addons-server/pull/2722

[2016-06-10 17:44] #781 closed

[2016-06-16 09:19] justinpotts commented on #820
@krupa @davehunt: Is this an instance where it would be a good idea to use [Project Axl](https://justinpotts.github.io/project-axl-frontend/)? If so, would using the frontend work? I have an idea on how to use a command line option, just not sure how we would integrate it with the test, without hosting the generator file inside the test repo itself.

[2016-06-17 13:58] krupa opened #859 "Remove all discopane tests which are made redundant by the redesign"
Our current tests for discopane are redundant now because of the redesign which is very different from the old implementation. We should remove those tests since they are now failing.

The plan is to add brand new tests (which may live in the addons-frontend repo)

[2016-06-23 19:47] #859 closed

[2016-06-23 20:04] #844 closed

[2016-06-24 18:28] krupa opened #862 "Load discopane from Tools -> Add-ons"
## set up instructions:
https://wiki.mozilla.org/Add-ons/Projects/DiscoveryImprovements#Testing

## steps to test:
1. On a new profile, launch Firefox 48 or higher
2. Tools -> Add-ons

## things to check:
1. On a new profile, all the buttons are grey/off
2. There is a section 'Personalize Your Firefox' and the video can be launched. When the video is launched, there is a 'close video'
3. On hover,

[2016-06-24 18:49] krupa opened #863 "Install an add-on from discopane"
## set up instructions:

https://wiki.mozilla.org/Add-ons/Projects/DiscoveryImprovements#Testing
## steps to test:
1. On a new profile, launch Firefox 48 or higher
2. Tools -> Add-ons
3. Install an add-on by clicking on the switch
## things to check:
1. The install button is green with a √ in it
2. There is an UiTour which happens after the add-on is installed (still an open bug)
3. The installed

[2016-08-03 17:45] justinpotts commented on #862
Closed in https://github.com/mozilla/addons-frontend/pull/788

[2016-08-03 17:45] #862 closed

[2016-08-05 21:03] krupa opened #870 "Fix failing test: TestHome.test_that_clicking_on_addon_name_loads_details_page"
tests.desktop.test_homepage.TestHome.test_that_clicking_on_addon_name_loads_details_page is failing because of https://github.com/mozilla/addons-server/commit/b1ab28d1b0ec441253c1cdcf235c50253b19f598

[2016-08-08 22:55] krupa commented on #870
r+

[2016-08-08 23:16] #870 closed

[2016-08-08 23:20] justinpotts commented on #863
Fixed with pull #868

[2016-08-09 17:56] davehunt commented on #863
I think you meant to mark #820 as fixed, this is still open.

[2016-08-09 17:57] davehunt commented on #820
Fixed by #868

[2016-08-09 17:57] #820 closed

[2016-08-24 22:11] krupa opened #877 "Fix failing test: test_user_can_login_and_logout"
Looks like tests/desktop/test_users_account.py::TestAccounts::()::test_user_can_login_and_logout is failing with  NoSuchElementException: Message: Unable to locate element: {"method":"id","selector":"id_username"}

This needs to be fixed.

[2016-08-24 22:13] krupa commented on #877
I think test_web_extension_submission is also failing for the same element.

[2016-09-21 19:59] stephendonner opened #880 "Switch to Tox"
bidpom and fxapom have already switched, and this is now being tracked in our Baseline: https://wiki.mozilla.org/TestEngineering/Web/Automation/Baseline

Let's switch over to Tox: https://tox.readthedocs.io/en/latest/

[2016-10-05 13:29] stephendonner opened #884 "Fix test_that_firebug_status_id_is_4_and_fully_reviewed test failure due to intended change."
Due to https://github.com/mozilla/addons-server/commit/9ec236a3d58ec7e045deec67c418aec45d750867, we're seeing the following test failure:

04:42:03 _____ TestAPIOnlyTests.test_that_firebug_status_id_is_4_and_fully_reviewed _____
04:42:03 [gw6] linux2 -- Python 2.7.9 /var/lib/jenkins/jobs/amo.dev.saucelabs/workspace/.venv/bin/python2.7
04:42:03 tests/desktop/test_api_only.py:35: in test_that_firebu

[2016-10-05 18:47] #884 closed

[2016-10-13 14:27] davehunt commented on #877
This was fixed by #878

[2016-10-13 14:27] #877 closed

[2016-11-08 12:36] davehunt commented on #880
This was done in https://github.com/mozilla/Addon-Tests/commit/137649e7833cac52287e71e5989f18af361e2159

[2016-11-08 12:36] #880 closed

[2016-11-10 16:18] stephendonner opened #892 "Hook up/restore higher test-execution concurrency (n=) using PYTEST_PROCESSES"
Our build times have increased greatly (for at least amo.prod, from ~2-3 minutes to 11 minutes, as a prime example) since https://github.com/mozilla/Addon-Tests/pull/888.

In chatting with @davehunt we should likely use PYTEST_PROCESSES, but fall back to AUTO (which we're currently using, and is based on the # of cores) if that's unset, for safety.

[2016-11-11 09:54] davehunt commented on #892
Fixed by https://github.com/mozilla/Addon-Tests/commit/425271a4b84dbccbdbb16996bacc689dfdbdf76f

[2016-11-11 09:54] #892 closed

[2016-12-16 15:13] davehunt opened #902 "Enable pyup.io for taking care of dependencies"
We want to enable [pyup.io](https://pyup.io/) for our projects to take care of automating the updates to our dependencies. Here's what's needed:

- [x] Move dependencies out of `tox.ini` and into requirements files. See https://github.com/mozilla/PyPOM/commit/ad21988d0364843808c07f3aaa656c6c16b971b2 for an example of this.
- [x] Add repository to pyup.io (@davehunt can take care of this once the a

[2017-01-05 11:37] davehunt commented on #902
@stephendonner I've enabled the project in pyup.io and the initial update is in #905. Let me know if you need anything else from me.

[2017-01-05 16:40] stephendonner commented on #902
@davehunt thanks; just the remaining two items: 1) removing repo from requires.io + 2) adding pyup.io badges, if you don't mind!

[2017-01-05 16:53] stephendonner commented on #902
(Actually, I can probably take care of badges?)

https://pyup.io/repos/github/mozilla/addon-tests/shield.svg

I'll get a pull going for that.

[2017-01-05 17:18] davehunt commented on #902
I don't seem to be able to deactivate requires.io at this time. I'll try again later.

[2017-01-05 17:23] davehunt commented on #902
Okay, it's been deactivated now.

[2017-01-05 18:24] stephendonner commented on #902
All done; closing!

[2017-01-05 18:24] #902 closed

[2017-02-28 22:40] stephendonner opened #916 "Fix failing/hard-coded ("5") Firebug-rating test; use, instead addons_api to get its env-specific rating"
We've hard-coded "5" for the Firebug add-on's rating in https://github.com/mozilla/Addon-Tests/blob/59dfccceedd11ba428bf2e154e8e7ba6f4d9757e/tests/desktop/test_details_page_against_xml.py#L77

Instead, we should probably use https://github.com/mozilla/Addon-Tests/blob/59dfccceedd11ba428bf2e154e8e7ba6f4d9757e/pages/desktop/addons_api.py#L133 to get its rating via XML, and compare to the add-on page

[2017-03-01 14:45] davehunt commented on #916
This is a pretty useless test. It's in a module that suggests we should be checking against the XML returned from the API. If this is indeed a useful test then we should fix it. I suspect that moving the tests to addons-server would allow us to create an addon with a specific rating and ensure that the correct rating is displayed. There may already be such a test for the XML, so we wouldn't need t

[2017-03-01 21:57] jrbenny35 commented on #916
Will do

[2017-03-23 01:00] stephendonner opened #924 "Switch to Declarative Pipeline and submit to activeData?"
We should probably hook up both Declarative Pipeline, as well as activeData (can be separate Issues/PRs).

@jrbenny35 is this on your radar?  Or @davehunt?  I'd be happy to give it a crack, but would likely need help with straightening out py27/desktop/mobile in tox.ini, and elsewhere...

[2017-03-23 13:07] davehunt commented on #924
Yeah, the difference with this suite is that we're running parallel build steps. Should be possible in declarative, though. Feel free to take this, or I may get to it in time.

[2017-03-23 20:33] stephendonner commented on #924
Gonna punt for now - fair game!

[2017-04-10 23:25] #924 closed

[2017-04-26 19:38] stephendonner opened #935 "Update Jenkins-issue comment + JIRA # in Jenkinsfile"
We need to update https://github.com/mozilla/Addon-Tests/blob/f7c90f92f38d9a457cf6f9180fcb3cfb26fd8029/Jenkinsfile#L18-L19 to point to the new bug/issue #: https://issues.jenkins-ci.org/browse/JENKINS-43872

[2017-04-27 09:33] #935 closed

[2017-05-24 23:43] stephendonner opened #945 "xfail 2 tests from test_details_page due to temporarily-removed "View Source feature on details pages"
xfail at least test_that_version_information_is_displayed and test_view_the_source_in_the_version_information due to https://github.com/mozilla/addons-server/issues/5431, which is being investigated in https://github.com/mozilla/addons-server/issues/5135

[2017-05-25 05:12] stephendonner opened #947 "Fix test_web_extension_submission failure, by way of axl dependency"
https://github.com/justinpotts/axl/blob/e547ff573df237a4715a1510f4c2784596225b8f/axl/axl.py#L56 using @mozilla.org as the suffix of the extension's unique ID is why tests/desktop/test_extensions.py::TestExtensions::test_web_extension_submission has been failing:

'You cannot submit an add-on with a guid ending "@mozilla.org"'

![screenshot](https://cloud.githubusercontent.com/assets/387249/2643677

[2017-05-26 18:37] stephendonner commented on #945
Closing; took care of this in https://github.com/mozilla/Addon-Tests/pull/946

[2017-05-26 18:37] #945 closed

[2017-07-03 08:30] stephendonner opened #971 "Investigate why tests and slave node on Jenkins dev crash/time out"
This doesn't really seem to be an issue with the tests themselves, but filing here so I remember to follow-up.

Need to investigate/ping Ops or other folks to see why our slave node on Jenkins dev crashes on AMO tests (might just be due to timeout/long-running tests killing the process?)

https://fx-test-jenkins-dev.stage.mozaws.net:8443/job/amo.adhoc/80/consoleFull

/cc @davehunt

[2017-07-03 13:04] davehunt commented on #971
This is because we have a timeout defined in the pipeline of 1 hour. The recent issue where only one process is being used is causing the tests to take considerably longer, and therefore causing timeouts.

[2017-07-28 20:50] #916 closed

[2017-10-18 17:01] davehunt commented on #801
We're retiring this repository in the next few weeks. I suspect this issue is outdated by now, and most likely covered elsewhere.

[2017-10-18 17:01] #801 closed

[2017-10-18 17:06] davehunt commented on #815
This is continuing thanks to @jrbenny35's work, and we'll be retiring this repository in the next few weeks.

[2017-10-18 17:06] #815 closed

[2017-10-18 17:08] davehunt commented on #851
We're retiring this repository in the next few weeks. This could be considered as a potential test case for the new suite, @jrbenny35.

[2017-10-18 17:08] #851 closed

[2017-10-18 17:09] davehunt commented on #853
We're retiring this repository in the next few weeks, and I believe the PayPal functionality has been removed.

[2017-10-18 17:09] #853 closed

[2017-10-18 17:11] davehunt commented on #863
We're retiring this repository in the next few weeks. @jrbenny35: I believe this would still be a useful test, perhaps for the suite in https://github.com/mozilla/addons-frontend/tree/master/tests/ui

[2017-10-18 17:11] #863 closed

[2017-10-18 17:12] davehunt commented on #947
We're retiring this repository in the next few weeks, and the tests have relocated to https://github.com/mozilla/addons-server/tree/master/tests/ui.

[2017-10-18 17:12] #947 closed

[2017-10-18 17:17] davehunt commented on #971
I believe we haven't seen this since moving to the new Jenkins instance with more processes available.

[2017-10-18 17:17] #971 closed